mixin clients(data={})

  -
    const {
       imgPath = '%=static=%img/content/'
    }= data;
  
  section.clients
    .wrapper
      .content
        .clients-title 
          span Наши клиенты
        .clients-grid
          .clients-grid__row
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-1.png`, alt="") 
                .clients-grid__row_item_text
                  span Министерство обороны Российской Федерации   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-2.png`, alt="") 
                .clients-grid__row_item_text
                  span Министерство внтруенних дел Росийской Федерации 
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-3.png`, alt="") 
                .clients-grid__row_item_text
                  span Департамент здравоохранении города Москвы   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-8.svg`, alt="") 
                .clients-grid__row_item_text
                  span Департамент строительства города Москвы   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-6.png`, alt="") 
                .clients-grid__row_item_text
                  span Главное управление обустройство войск     
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-7.png`, alt="") 
                .clients-grid__row_item_text
                  span Воздушно-десантное училище имени Н,Ф,Маргелова 

          .clients-grid__row
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-9.png`, alt="") 
                .clients-grid__row_item_text
                  span ЛСР Группа  
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-10.png`, alt="") 
                .clients-grid__item_text
                  span Росатом
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-13.png`, alt="") 
                .clients-grid__row_item_text
                  span Седьмое небо   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-12.png`, alt="") 
                .clients-grid__row_item_text
                  span Российские железные дороги   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-14.png`, alt="") 
                .clients-grid__row_item_text
                  span НИИ имени Н,В, Склифосовского      
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-15.png`, alt="") 
                .clients-grid__row_item_text
                  span Государственный институт русского языка им А,С, Пушкина 

          .clients-grid__row   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-19.png`, alt="")  
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-20.png`, alt="")   
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-21.png`, alt="")  
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-22.png`, alt="")     
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-23.png`, alt="")  
            .clients-grid__row_item
              a(href="#")
                .clients-grid__row_item_img
                  picture
                    img(src=`${imgPath}client-24.png`, alt="")    
            
          