mixin recomend(data={})
  -
    const {
      imgPath = '%=static=%img/content/'
    }= data;

  section.recomend
    .wrapper
      .content
        .recomend-title 
          span Рекомендуем
          .recomend-title_sub 
            span В этих разделах вы можете получить подробную информацию о пищевом оборудовани для столовых, ресторанов и кафе ведущих производителей.
        .recomend-cards
          .recomend-cards__top
            .recomend-cards__top_item.long
              a(href="#").recomend-cards__top_item_long
                .recomend-cards__top_item_long_image
                  picture
                    img(src=`${imgPath}recomend-1.png`, alt="пароконвектоматы")
                .recomend-cards__top_item_long_content
                  .recomend-cards__top_item_long_content_title UNOX
                  .recomend-cards__top_item_long_content_subtitle Пароконвектоматы
                  .recomend-cards__top_item_long_content_text 
                    p Благодаря своей универсальности пароконвектоматы быстро завоевывают пользователей по всему миру.
            .recomend-cards__top_item
              a(href="#").recomend-cards__top_item_short
                .recomend-cards__top_item_short_content
                  .recomend-cards__top_item_short_content_image
                    picture
                      img(src=`${imgPath}recomend-2.png`, alt="овощерезка")
                  .recomend-cards__top_item_short_descr  
                    .recomend-cards__top_item_short_content_descr_name Hallde
                    .recomend-cards__top_item_short_content_descr_category Овощерезки
                    .recomend-cards__top_item_short_content_descr_text
                      p Мощный двигатель переводит высокий крутящий момент на режущий инструмент
            .recomend-cards__top_item
              a(href="#").recomend-cards__top_item_short
                .recomend-cards__top_item_short_content
                  .recomend-cards__top_item_short_content_image
                    picture
                      img(src=`${imgPath}recomend-3.png`, alt="simeco стойка").size
                  .recomend-cards__top_item_short_descr  
                    .recomend-cards__top_item_short_content_descr_name simeco
                    .recomend-cards__top_item_short_content_descr_category Нержавеющее
                    .recomend-cards__top_item_short_content_descr_text
                      p Мощный двигатель переводит высокий крутящий момент на режущий инструмент
            

          .recomend-cards_bottom
            a(href="#").recomend-cards_bottom_left
              .recomend-cards_bottom_left_item_content
                .recomend-cards_bottom_left_item_content_name  rational
                .recomend-cards_bottom_left_item_content_category Пароконвектоматы
                .recomend-cards_bottom_left_item_content_description
                  p Педантичность и преданность своему делу делает продукцию Rational идеальной для тех, кто ищет надежность и долговечность.
              .recomend-cards_bottom_left_item_image
                picture
                  img(src=`${imgPath}recomend-4.png`, alt="пароконвектоматы")
            .recomend-cards_bottom_right
              a(href="#").recomend-cards_bottom_right_top
                .recomend-cards_bottom_right_top_image
                  picture
                    img(src=`${imgPath}recomend-5.png`, alt="тепловое оборудование")
                .recomend-cards_bottom_right_top_description
                  .recomend-cards_bottom_right_top_description_name abat
                  .recomend-cards_bottom_right_top_description_category Тепловое оборудование
                  .recomend-cards_bottom_right_top_description_text 
                    p Более 55 лет успешно работает на рынке торгово-технологического оборудования, по праву занимая лидирующее положение в данном сегменте.

              a(href="#").recomend-cards_bottom_right_top.white
                .recomend-cards_bottom_right_top_white_white_image
                  picture
                    img(src=`${imgPath}recomend-7.png`, alt="холодильный стол")
                .recomend-cards_bottom_right_top_white_description
                  .recomend-cards_bottom_right_top_white_description_name hicold
                  .recomend-cards_bottom_right_top_white_description_category Холодильные столы
                  .recomend-cards_bottom_right_top_white_description_text 
                    p Многофункциональность оборудования позволяет оптимизировать пространство на кухне, сделать работу персонала максимально удобной и эффективной.
                
                